$small-screen: 768px;
$middle-screen: 992px;
$large-screen: 1200px;

/* Small devices (tablets, 768px and up) */
@media (min-width: $small-screen) {
.modal-content {
  max-height:unset ;
  overflow: unset;
  }
.calls {
    grid-template-columns: repeat(3, 1fr);
  }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $middle-screen) {
  .top-bar nav {
    display: block;
  }
  .project {
    grid-template-columns: 1fr 2fr;
    img {
      width: 100%;
      margin:auto;
    }
  }
  .experience, .bio {
    section {
      padding: 0px 20%;
      grid-template-rows: repeat(4, minmax(25px, auto));
    }
  }
  .motivation {
    grid-template-columns: 1fr 3fr;
      >h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto;
      border-right: solid 1px black;
      border-bottom: unset;
      text-align: right;
    }
    > p {
    margin: 15px 0;
    width: 85%;
    display: flex;
    align-items: center;
    }
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $large-screen) {

}
