$menu-item-height: 60px;

body {
  margin: 0px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
.container {
  width: 80%;
  margin: 0px auto;
}
.top-bar {
  width: 100%;
  display:inline-flex;
  background: black;
  .branding {
    float: left;
    h1,h2 {
    margin: 0px;
    text-transform: uppercase;
  }
    .type {
      font-size: 2em;
      font-weight: 600;
    }
    .subject {
      font-size: 1em;
    }
  }
    &::before {
      position: absolute;
      top: 90px;
      content: " ";
      background: #000000;
      z-index: -1;
      height: 30%;
      width: 100%;
      clip-path: polygon(0 0, 0 100%, 100% 0);
    }
    &::after {
      content: "";
    position: absolute;
    top: 60px;
    height: 565px;
    width: 100%;
    background: url(/img/profile-background.jpg) no-repeat top center;
    background-size: cover;
    z-index: -2;
    }
  .menu {
    float: right;
  }
  .menu-item {
    display: inline;
    margin: 0px 5px;
    a {
      float: left;
      text-decoration: none;
      text-align: center;
      line-height: $menu-item-height;
      height: $menu-item-height;
      width: 120px;
      margin: 0px 15px;
      background: white;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: black;

    }

  }
}
