$menu-item-height: 60px;

body {
  margin: 0px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  -webkit-text-size-adjust: none;
}
.container {
  width: 80%;
  margin: 0px auto;
  }

  //   Grids

.grid {
  display: grid;
  &-3col {
    grid-template-columns: repeat(3, 1fr);
  }
  &-4col {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Header styling

.top-bar {
  width: 100%;
  display:inline-flex;
  background: black;
  .branding {
    float: left;
    margin-top: 12px;
    h1,h2 {
    margin: 0px;
    text-transform: uppercase;
  }
    .type {
      font-size: 2em;
      font-weight: 600;
    }
    .subject {
      font-size: 1em;
    }
  }

  // Menu

  .menu {
    float: right;
  }
  .menu-item {
    display: inline;
    margin: 0px 5px;
    a {
      float: left;
      text-decoration: none;
      text-align: center;
      line-height: $menu-item-height;
      height: $menu-item-height;
      width: 120px;
      margin: 0px 15px;
      background: white;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: black;

    }

  }
}

// Layout styling

.triangle {
    margin-top: -6px;
    background: #000000;
    z-index: -1;
    height: 15vw;
    width: 100%;
    clip-path: polygon(0 0, 0 15vw, 100% 0);
}
.face {
  margin-top: -15vw;
  height: 40vw;
  width: 100%;
  background: url(/img/profile-background.jpg) no-repeat top center;
  background-size: cover;
  z-index: -2;
}
.calls {
    margin: 40px auto;
    .call {
    color: #bfbfbf;
    display: inline-grid;
    text-align: center;
    border: 0.5px solid #131313;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    line-height: 0em;
    box-shadow: 0px 0px 1px 0px #131313;
    i {
      font-size: 5vw;
    }
    p {
      font-size: 1.3em;
      text-overflow: ellipsis;
      line-height: 20px;
    }

  }
}
  .white-post {
    color: black;
    background-color: white;
    display: flex;
    border-radius: 10px;
    > * {
      margin: 25px;
    }
    > h3 {
      padding: 2%;
      border-right: solid 1px black;
    }
  }
  .header > h3 {
    font-size: 2em;
    text-align: center;
  }

// Projects
.project {
  background: #0c0c0c;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 1em;

  img {
    width: 100%;
    grid-row: 1/3;
    grid-column: 1;
  }

}
